In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Reference to CSV and reading CSV into Pandas DataFrame
csv_path = "budget_data.csv"
bank_df = pd.read_csv(csv_path)
bank_df.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [3]:
total_months = len(bank_df)

In [4]:
total_pl = bank_df["Profit/Losses"].sum()

In [5]:
mean_pl = bank_df["Profit/Losses"].mean()

In [6]:
max_profit = bank_df["Profit/Losses"].max()
max_profit_loc = bank_df.loc[bank_df["Profit/Losses"] == max_profit]

In [7]:
min_profit = bank_df["Profit/Losses"].min()
min_profit_loc = bank_df.loc[bank_df["Profit/Losses"] == min_profit]

In [8]:
print("Financial Analysis")
print("-----------------------------")
print("Total Months: ",total_months)

Financial Analysis
-----------------------------
Total Months:  86

In [25]:
# how do I format this as a currency?
print(f"Net Total Amount of Profit/Loss: ${total_pl:.2f}")
print(f"Average Change of Profit/Loss over entire period: ${mean_pl:.2f}")

Net Total Amount of Profit/Loss: $38382578.00
Average Change of Profit/Loss over entire period: $446309.05

In [28]:
# how do I remove the column labels? 
print("Greatest Increase in Profits: ", max_profit_loc)
print("Greatest Decrease in Profits: ", min_profit_loc)

Greatest Increase in Profits:          Date  Profit/Losses
25  Feb-2012        1170593
Greatest Decrease in Profits:          Date  Profit/Losses
44  Sep-2013       -1196225