In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Reference to CSV and reading CSV into Pandas DataFrame
csv_path = "election_data.csv"
election_df = pd.read_csv(csv_path)
election_df.head(10)

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan
5  19014606  Marsh        Li
6  17775191  Queen    Correy
7  14003692  Marsh      Khan
8  14255761  Marsh      Khan
9  13870173  Marsh    Correy

In [3]:
election_df.columns

Index(['Voter ID', 'County', 'Candidate'], dtype='object')

In [5]:
total_votes_cast = election_df['Voter ID'].count()
print(total_votes_cast)

3521001

In [6]:
candidates_receiving_votes = election_df['Candidate'].unique()
print(candidates_receiving_votes)

['Khan' 'Correy' 'Li' "O'Tooley"]

In [7]:
candidates = []
for candidate in candidates_receiving_votes:
    candidates.append(candidate)
candidates

['Khan', 'Correy', 'Li', "O'Tooley"]

In [8]:
candidate_votes_df = election_df['Candidate'].value_counts().to_frame()
candidate_votes_df

          Candidate
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630

In [ ]:
# khan_percent = candidate_votes_df.loc['Khan', 'Candidate']/total_votes
# correy_percent = candidate_votes_df.loc['Correy', 'Candidate']/total_votes
# li_percent = candidate_votes_df.loc['Li', 'Candidate']/total_votes
# otooley_percent = candidate_votes_df.loc["O'Tooley", 'Candidate']/total_votes
# print(khan_percent)
# print(correy_percent)
# print(li_percent)
# print(otooley_percent)

In [10]:
khan_votes = candidate_votes_df.loc['Khan', 'Candidate']
correy_votes = candidate_votes_df.loc['Correy', 'Candidate']
li_votes = candidate_votes_df.loc['Li', 'Candidate']
otooley_votes = candidate_votes_df.loc["O'Tooley", 'Candidate']

khan_percent = khan_votes/total_votes_cast
correy_percent = correy_votes/total_votes_cast
li_percent = li_votes/total_votes_cast
otooley_percent = otooley_votes/total_votes_cast

TypeError: 'numpy.dtype' object is not callable

In [38]:

top_vote_getter = candidate_votes_df.max() 
# .astype(str)
    
# def winner():
if top_vote_getter >= khan_votes:
    winner = "Khan"
elif top_vote_getter >= correy_votes:
    winner = 'Correy'
elif top_vote_getter >= li_votes:
    winner = 'Li'
elif top_vote_getter >= otooley_votes:
    winner = "O'Tooley"
else:
    print("Error")
    
print(winner)
    
    

# winning_winner = candidate_votes_df.loc[candidate_votes_df['Candidate'] == winner.astype(str)]

AttributeError: 'numpy.int64' object has no attribute 'bool'

In [42]:
print("Election Results")
print('---------------------')
print(f"Total Votes received: {total_votes_cast}")
print('---------------------')
print(f"Khan received {khan_percent*100:.2f}% of votes with {khan_votes}.")
print(f"Correy received {correy_percent*100:.2f}% of votes with {correy_votes}.")
print(f"Li received {li_percent*100:.2f}% of votes with {li_votes}.")
print(f"O'Tooley received {otooley_percent*100:.2f}% of votes with {otooley_votes}.")
print('---------------------')
print(f"The winner is: ")

Election Results
---------------------
Total Votes received: 3521001
---------------------
Khan received 63.00% of votes with 2218231.
Correy received 20.00% of votes with 704200.
Li received 14.00% of votes with 492940.
O'Tooley received 3.00% of votes with 105630.
---------------------
The winner is:

In [ ]:
chocolate_ratings_df.columns

In [ ]:
# Converting the "Cocoa Percent" column to floats
chocolate_ratings_df["Cocoa Percent"] = chocolate_ratings_df["Cocoa Percent"].replace(
    '%', '', regex=True).astype('float')

# Finding the average cocoa percent
chocolate_ratings_df["Cocoa Percent"].mean()